* {
    background-color: #1A1A22;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body {
    scroll-behavior: smooth;
}
/* .bg-color {
    background-color: #1A1A22;
}

span {
    color: #0A8E95;
} */

html {
    scroll-behavior: smooth;
  }

